<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Таймер</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="styletask2.css">
</head>
<body>
<div id="app">
  <button v-if="!started" @click="start">погнали</button>
  <div v-else-if="!finished" class="timer">{{ secondsText }}</div>
  <div v-else>
    <span
      class="done"
      @animationend="startSecondTimer"
    >готово</span>
    <span
      v-if="showSecondTimer"
      class="timer"
      style="position:absolute;top:20px;left:20px;"
    >{{ secondTimer }}</span>
  </div>
  <div v-if="showModal" class="modal">
    <div class="modal-content">
      <h3>Все готово!</h3>
      <p> Вся анимация закончилась, все готово!</p>
      <button class="clear-btn" @click="clearAll">Очистить страницу от всего</button>
    </div>
  </div>
</div>
  <script src="task2.js"></script>
</body>
</html>